* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-size: 20px;
	font-family: "Roboto";
	background: linear-gradient(#4444f5, #00d4ff);
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	height: 700px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	background: rgba(255, 255, 255, 0.2);
}

h1 {
	color: white;
	font-weight: 300;
	margin: 20px auto;
}

#button {
	height: 40px;
	width: 120px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	backdrop-filter: blur(5px);
	background: rgba(255, 255, 255, 0.2);
	margin-bottom: 30px;
}

#city {
	height: 40px;
	width: 250px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background: rgba(255, 255, 255, 0.2);
	margin-bottom: 30px;
}

.city-name-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.country {
	font-weight: 500;
	padding-left: 10px;
	font-size: 18px;
}

h3 {
	color: white;
	text-transform: uppercase;
}

ul {
	width: 370px;
	list-style: none;
}

li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 300;
	color: white;
	width: auto;
	height: 50px;
}
